---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";

const posts = Object.values(import.meta.glob("../post/*.mdx", { eager: true }));
---

<Layout page="posts">
  <p>These are all the posts:</p>
  <div class="flex mt-4 gap-4">
    {
      posts.map((post: any) => (
        <Card
          title={post.frontmatter.title}
          body={post.frontmatter.description}
          href={post.url || post.frontmatter.url}
        />
      ))
    }
  </div>
</Layout>
