---
import Layout from "../layouts/Layout.astro";
---

<Layout page="">
  <main class="mt-16">
    The new website for <code>marzolo.com</code>. It's still in development, and
    will likely be forever :). You can check out our current <a href="/posts"
      >posts</a
    >, or check out the family from the top bar.
  </main>
</Layout>

<style></style>
