---
import Eyes from "./Eyes.astro";

export interface Props {
  current: string;
}
const { current } = Astro.props as Props;
const menu = [
  { url: "/", label: "Home" },
  { url: "/posts", label: "Posts" },
  { url: "http://tree.marzolo.com", label: "Tree" },
  { url: "/credits", label: "Credits" },
];
---

<nav class="flex items-center justify-between px-3 py-3 mt-10 relative rounded">
  {
    current === "credits" ? (
      <Eyes Element="h2" />
    ) : (
      <h2>
        <a href="/">Marzolo's website</a>
      </h2>
    )
  }
  <div id="hamburger" class="md:hidden flex flex-col gap-1.5 cursor-pointer">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul id="nav-list" class="hidden md:flex md:items-stretch bg-header">
    {
      menu.map((d) => (
        <li>
          <a
            class={`block mx-4 tracking-wider border-2 px-2 color-border ${
              current === d.url.substring(1) ? "bg-accent c-accent-text" : ""
            }`}
            href={d.url}
          >
            {d.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  document
    .getElementById("hamburger")
    ?.addEventListener("click", (e) =>
      document.getElementById("nav-list")?.classList.toggle("expanded"),
    );
</script>

<style>
  .color-border {
    border-color: transparent var(--color-header-text);
  }
  .c-accent-text {
    color: var(--color-accent-text);
  }
  nav {
    color: var(--color-header-text);
    background-color: var(--color-header);
  }

  /* a {
    background-color: var(--color-bg-header);
  } */

  a:after {
    display: block;
    content: "";
    height: 100%;
    border-bottom: solid 2px var(--color-header-text);
    transform: scaleX(0);
    transition: transform 170ms ease-in-out;
    transform-origin: 0% 50%;
  }

  a:is(:hover, :focus-within):after {
    transform: scaleX(1);
  }

  .line {
    width: 40px;
    height: 3px;
    background-color: var(--color-header-text);
  }
  .expanded {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .expanded a {
    margin: 0;
  }
</style>
