---
const themes = [
  {
    label: "franz",
    class: "ff",
    button: {
      color: "#fcfcfc",
      bg: "#813405",
    },
  },
  {
    label: "pp",
    class: "pp",
    button: {
      color: "#f3a712",
      bg: "#29335c",
    },
  },
];
---

<div
  class="flex flex-col overflow-hidden rounded-l-lg absolute bottom-50% right-0 cursor-pointer border-l-2 border-y-2 color-border"
>
  {
    themes.map((t) => (
      <div
        style={`background-color: ${t.button.bg};color: ${t.button.color}`}
        data-applied-class={t.class}
        class="theme-picker-button pr-1 py-2 pl-2 select-none"
      >
        <span>{t.label}</span>
      </div>
    ))
  }
</div>

<script>
  const themes = Array.from(
    document.getElementsByClassName("theme-picker-button")
  ).map((e) => (e as HTMLElement).dataset.appliedClass || "");

  document.documentElement.classList.add(themes[0]);

  for (const b of document.getElementsByClassName("theme-picker-button")) {
    b.addEventListener("click", () => {
      document.documentElement.classList.remove(...themes);
      document.documentElement.classList.add(
        (b as HTMLElement).dataset.appliedClass || ""
      );
    });
  }
</script>

<style>
  .color-border {
    border-color: var(--color-text);
  }
</style>
