---
import Nav from "../components/Nav.astro";
import ThemePicker from "../components/ThemePicker.astro";

export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A family website. Screw your indexing!" />
    <title>Marzolo Web</title>
  </head>

  <body class="relative">
    <ThemePicker />
    <div class="flex flex-col w-10/12 h-full">
      <Nav current={page} />
      <div id="content">
        <slot />
      </div>
    </div>
    <style is:global>
      :root.ff {
        --color-bg: #813405;
        --color-text: #fcfcfc;
        --color-accent: #d45113;
        --color-accent-text: black;
        --color-header: #f9a03f;
        --color-header-text: black;
      }
      :root.pp {
        --color-bg: #29335c;
        --color-text: white;
        --color-accent: #f3a712;
        --color-accent-text: black;
        --color-header: #1b9aaa;
        --color-header-text: black;
      }
      .c-accent {
        color: var(--color-accent);
      }
      .c-accent-text {
        color: var(--color-accent-text);
      }
      .bg-accent {
        background-color: var(--color-accent);
      }
      .bg-header {
        background-color: var(--color-header);
      }
    </style>
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
        height: 100%;
      }

      body {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      #content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
