---
import Layout from "./Layout.astro";
// let's give a consistent style to all posts
import styles from "../styles/post.css";
const { frontmatter } = Astro.props;
---

<Layout page="posts">
  <div class="h-full flex flex-col justify-between">
    <div class="post">
      <h6 class="mb-6">
        <strong>{frontmatter.title}</strong> by {frontmatter.author}
      </h6>
      <slot />

      {frontmatter.date && <p class="mt-6">Written on: {frontmatter.date}</p>}
    </div>
    <footer class="pt-8 pb-2">
      <a href="/posts" class="underline">take me baaaack</a>
    </footer>
  </div>
</Layout>

<style is:global>
  .post a {
    /* color: var(--color-accent); */
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 3px;
  }

  .post a:hover {
    /* color: blue; */
  }
</style>
